@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
}

.heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

button {
    background-color: #EA445A;
    padding: 6px 20px;
    border-radius: 10px;
}




